/* ==========  Select Field Variables ========== */
* {
  --white: #fff;
  --black: #000;
  --select-background-color: transparent;
  --select-border-color: rgba(0, 0, 0, 0.12);
  --form-font-size: 18px;
  --select-padding: 4px;
  --bars-color: #5264ae;
  --main-color: #0fb3ff;

  /* table vars */
  --table-header-font-weight: 600;
  --table-border: #646363d3;
  --table-cell-padding: 1.3rem;
  --table-bg: #e0e0e0;
  --table-bg-hover: rgba(20, 159, 240, 0.555);
  --table-border-color: #e0e0e0;
}

body {
  font-family: Roboto, Oxygen, Ubuntu, "Helvetica Neue", sans-serif;
}
header {
  position: relative;
}
h1 {
  text-align: center;
}
h3 {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}
h4 {
  text-align: center;
  margin: 0;
}
nav ul,
.controls ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul li,
.controls ul li {
  padding: 2px 10px;
}
.controls li button {
  padding: 0px 5px 0 5px;
  font-weight: 600;
  text-align: center;
}

.controls li button {
  background-color: #fff;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  font-size: 1em;
  transition: 0.5s;
}
.controls li button:hover {
  background-color: #6ff;
  border: 2px solid #6ff;
  color: var(--main-color);
}
.controls {
  padding-top: 10px;
}
section {
  padding-top: 1%;
  border: solid 2px var(--main-color);
  width: 67%;
  text-align: center;
  margin: 0 auto;
}
main h2 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#forms {
  padding-top: 2%;
  font-size: 1em;
  text-align: center;
}

#forms form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.field {
  display: inline;
  position: relative;
  margin-right: 1%;
}
#forms form input {
  font-size: var(--form-font-size);
  padding: 5px 10px;
  display: block;
  width: 70px;
  border: none;
  text-align: center;
  border-bottom: 1px solid #757575;
}

#forms form input:focus {
  outline: none;
}
/* active state */
#forms form input:focus ~ label,
#forms form input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: var(--bars-color);
}
#forms form input:focus ~ .bar:before,
#forms form input:focus ~ .bar:after {
  width: 50%;
}
#forms form input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

#forms label {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  pointer-events: none;
  text-align: center;
  left: 25px;
  top: -15px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #000;
  opacity: 0.2 !important;
}
#forms form {
  display: flex;
  flex-direction: row;
}
#forms form div {
  justify-content: center;
  margin-bottom: 10px;
}
#forms form button,
#forms button {
  width: 300px;
  border: none;
  background-color: var(--main-color);
  color: white;
  padding: 10px;
  margin: 0 2%;
  font-weight: 600;
}

#forms form button:hover,
#forms form button:focus,
#forms button:hover,
#forms button:focus {
  background-color: var(--main-color);
  transform: scale(1.1);
  transition: 0.5s;
}

canvas {
  margin: 10px auto;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main table {
  margin: 1em auto;
  padding: 20px;
  background-color: var(--white);
  border-spacing: 0;
  border-collapse: collapse;
}

main table tr,
main table th {
  font-weight: var(--table-header-font-weight);
  background: var(--white);
  text-align: center;
  border-width: 50%;
  border-bottom: 2px solid var(--table-border-color);
}
main table th {
  background: var(--table-bg);
  border-right: 2px solid var(--black);
  border-top: 4px solid var(--table-bg);
  border-bottom: 4px solid var(--table-bg);
}

main td:hover {
  border-radius: 12px;
  background: var(--table-bg-hover);
}
main td,
main td {
  border-width: 50%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid var(--table-border-color);
  width: 70px;
  background: var(--white);
  padding: var(--table-cell-padding);
}
iframe {
  display: none;
}

a {
  position: absolute;
  top: 0px;
  right: 0px;
}

a img {
  width: 10%;
}
a:hover{
  opacity: 0.6;
  transform: scale(1.1);
  transform: translateY(-10px);
  transition: 0.5s;
}
#chart {
  text-align: center;
}

/* CUSTOM RADIO BUTTONS*/
/* The container */
.label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.check {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.label:hover input ~ .check {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.label input:checked ~ .check {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.check:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.label input:checked ~ .check:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.label .check:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.hidden {
  display: none;
}
.row {
  flex-direction: row;
}
@media (max-width: 1330px) {
  a {
    top: 50px;
    width: 9%;
  }
  a img {
    width: 100%;
  }
}
@media (max-width: 780px) {
  #forms {
    padding-top: 5%;
  }
  #forms button {
    width: 150px;
  }
  #forms form input {
    font-size: 16px;
    padding: 5px 10px;
    display: block;
    width: 40px;
    border: none;
    border-bottom: 1px solid #757575;
  }
  #forms label {
    top: -18px;
    font-size: 14px;
  }
  section {
    padding-top: 1%;
    width: 100%;
  }
  nav ul {
    flex-direction: column;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--bars-color);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}
/**************************MATERIAL SELECT**********************************/
select {
  font-family: inherit;
  background-color: transparent;
  width: 5em;
  padding: var(--select-padding);
  font-size: var(--form-font-size);
  color: var(--black);
  border: none;
  border-bottom: 1px solid var(--select-border-color);
}

select option{
  text-align: center;
}
select:focus {
  outline-color: var(--bars-color);
  border-bottom: 2px 1px 2px var(--bars-color);
}

select:focus ~ label {
  display: none;
}

.alfa-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.alfa-select {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  position: relative;
}
.alfa-select:after {
  position: absolute;
  top: 0.75em;
  right: 0.5em;
  /* Styling the down arrow */
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 0.25em solid transparent;
  border-right: 0.25em solid transparent;
  border-top: 0.375em solid var(--select-border-color);
  pointer-events: none;
}

/* hide arrows for number inputs hack */
input[type="number"] {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

/***************************HIGHLIGHTER ************************************/
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/**************************ANIMATIONS ****************************************/
@-webkit-keyframes inputHighlighter {
  from {
    background: var(--bars-color);
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: var(--bars-color);
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: var(--bars-color);
  }
  to {
    width: 0;
    background: transparent;
  }
}

/************************************LOADER*********************************/
.loader {
  position: absolute;
  top: 18%;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
